@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,700;0,900;1,800&display=swap');

$primary_color-1: #f0f1f2;
$primary_color-2: #27a4f2;
$primary_color-3: #57b7f2;
$primary_color-4: #6dccf2;
$primary_color-5: #f2c36b;

$font-weight: ("light": 300, "bold": 700, "ex-bold": 800, "black": 900);